/* Global Styles */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Poppins",sans-serif;
}
h1{
    font-size:2.6rem;
}
li,
button,
label,
input,
p{
    font-size:2rem;
}
h2{
    font-size:4.8rem;
}
h3{
    font-size:3rem;
    font-weight:400;
}
h4,h5{
    font-size:2.8rem;
}
a{
    color:white;
    text-decoration: none;
}
button{
    padding:2rem 6rem;
    background:#4c6e97;
    border:none;
    color:white;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}
button:hover{
    background:#2a3d53;


}

/* Nav Section with hero */
.main-head{
    background:#131c27;
    color:white;
    position: sticky;
    top:0;
    z-index:3;
}
nav{
    /* min-height:10vh; */
    display:flex;
    width:90%;
    margin:auto;
    align-items: center;
    padding:2rem;
    min-height:10vh;
    flex-wrap: wrap;
    

}
nav ul{
    display:flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
#logo{
    flex: 2 1 40rem;
    font-family: "Pattaya",sans-serif;
    font-weight:400;

}
.hero{
    min-height:90vh;
    background:linear-gradient(rgba(0, 0, 0, 0.5),transparent) ,url(./img/landing-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h3{
    padding:5rem;
}

/* locations section */
#locations{
    min-height:100vh;
    background:linear-gradient(rgba(0,0,0,0.5),transparent),url(./img/new-york-page.png);
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
    position: relative;
    overflow: hidden;
   

}
.locations-head{
    min-width: 90%;
    margin:auto;
    
}
.locations-head h2{
    padding: 1rem 0;
    text-decoration: underline;
    text-decoration-thickness: 0.3rem;
}
.locations-head h3{
    padding: 4rem 0;
    background: linear-gradient(#131c27,#663b34);
    color:white;
   -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.cloud{
    position:absolute;
    top:0%;
    right:0%;
    
}

.moving-cloud-1{
  animation: cloudAnimations 3s infinite alternate ease-in-out;

}
.moving-cloud-2{
    top:20%;
    z-index:-1;
    opacity: 0.5;
    animation: cloudAnimations 3.5s infinite alternate ease-in-out;


}
/* Benefits Section */
.benefits-head{
    background:#343c44;
    padding:3rem;
    min-height:30vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    text-align: center;
}
.benefits-head h3{
    padding:1rem;
}
.cards{
    display:flex;
    width:90%;
    margin:auto;
    min-height:70vh;
    align-items:center;
    flex-wrap: wrap;
    
}
.card{
   text-align:center;
    flex: 1 1 25rem;
    min-height:40vh;
    margin:2rem 5rem;
    box-shadow:0 10px 10px rgba(0, 0, 0, 0.5),0 20px 20px rgba(0, 0, 0, 0.5);
}

.cards img{
 max-width:15%;
 margin:2rem;

}
.card-icon{
    background:linear-gradient(#1d2b3d,#263d5a);
   
   
}
.cards p , h4{
    padding:1rem;
}
@keyframes cloudAnimations{
  from{
      transform:translate(10%,-10%);
  }
  to{
      transform:translate(0%,0%);
  }
}



/* Contacts and form */
#contacts{
    min-height:100vh;
    background:linear-gradient(rgba(0,0,0,0.5),transparent), url(./img/contact-mountain.png) no-repeat center;
    background-size: cover;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.form-wrapper{
    background:rgba(19,28,39,0.8);
    width:60%;
    color:white;
    border-radius:20px;
}
.form-head{
    text-align:center;
    padding:4rem;
}
.name-form,
.email-form{
    padding:3rem;
    text-align:center;
}
.form-wrapper label{
    margin:0 3rem;
}
.form-wrapper button{
    width:100%;
    padding:2rem;
    margin-top:8rem;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
.form-wrapper input{
    padding: 1rem 3rem;

}
/* footer  */
footer{
    background:#131c27;
    color:white;
}
.footer-wrapper{
    max-width:90vw;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:2rem 0;
    flex-wrap:wrap;
}
.footer-wrapper h5{
    flex:1 1 40rem;
}
.footer-wrapper ul{
    flex: 1 1 40rem;
    list-style-type: none;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.footer-wrapper li{
    padding: 0 3rem;
}
.footer-wrapper img:hover{
    border-bottom:3px solid white;
    padding-bottom: 1.5rem;
    border-radius:2px;
    transition: 0.3s ease-in-out;
}

/* @media screen and (max-width:662px){
        html{
        font-size:45%;
    }
} */
/* media query */
@media screen and (max-width:932px){
    html{
        font-size:45%;
    }
    nav{
        text-align:center;
    }
    #logo{
        padding:2rem;
    }
    .cloud{ 
        /* height:-40rem; */
       
        pointer-events: none;
    }
    .moving-cloud-1{
    z-index: -1;
    height:
    }
    .moving-cloud-2{
     z-index:-2;
     /* top:10%; */
    }
    .locations-head h3{
        background:rgba(19, 28, 39, 0.514);
        -webkit-text-fill-color: white;
        padding:5rem;
        margin-top:4rem;

    }
    #locations{
        text-align:center;
    }
    .form-wrapper{
        width:100%;
    }
   footer{
       text-align:center;
   }
  footer h5{
      padding-bottom:3rem;
      margin-left:2rem;
  }
}
